@font-face {
  font-family: "IRANSansWeb_Bold";
  src: local("IRANSansWeb_Bold"),
    url(./Fonts/IRANSansWeb_Bold.woff) format("woff2");
}
@font-face {
  font-family: "IRANSansWeb";
  src: local("IRANSansWeb"), url(./Fonts/IRANSansWeb.woff) format("woff2");
}
@font-face {
  font-family: "IRANSansWebFaNumBold";
  src: local("IRANSansWebFaNumBold"),
    url(./Fonts/IRANSansWebFaNumBold.woff) format("woff2");
}
@font-face {
  font-family: "IRANSansWebFaNum";
  src: local("IRANSansWebFaNum"),
    url(./Fonts/IRANSansWebFaNum.woff) format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: IRANSansWeb;
}

body {
  margin: 0;
  font-weight: 300;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
   sans-serif; */
  font-family: IRANSansWeb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
